.form {
  display: flex;
  flex-direction: column;
  > * {
    margin-bottom: $m-size; 
  }
}
/* > * targets all direct children of element*/

.form__error {
  margin: 0 0 $m-size 0;
  font-style: italic;
}